{% include 'cookies/partials/head.html' %}

<body>
    {% include 'cookies/partials/header.html' %}
    {% include 'cookies/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            {% include 'cookies/partials/recipe.html' %}
            
        </div>
    </main>

    {% include 'cookies/partials/footer.html' %}
</body>

</html>